.background{
    position: relative;
    width: 100%;
    height: 120px;
    margin: auto;
    border-radius: 5px;
}

.namePrice{
    max-width: 100%;
    margin-top: 8px;
   
    color: #fff;
    font-size: 15px;
}

.priceText{
    font-size: 20px;
    max-width: 100%;
    margin-top: 8px;
   
    color: #fff;
}

.text{
    text-align: left;
    color: #fff;
    font-family: "Ebrima";
    font-size: 13px;
    opacity: 80%;
    font-size: 15px;
}
.container{
    display: flex;
    justify-content: space-between;
}
