.header {
  display: flex;
  justify-content: start;
  margin: 20px;
  color: #fff;
  font-size: 20px;
  font-family: "Ebrima";
}

.header h1 {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ul {
  margin: 35px 20px 20px 20px;
  font-family: "Ebrima";
  width: 100%;
}

.spanzin {
  color: #fff;
  font-size: 20px;
  margin: auto;
  
}

.span {
  font-size: 10px;
  color: #fff;
  opacity: 50%;
  margin-left: 28px;
  
}

.line{
  margin: 0 20px 0 20px;
  opacity: 0.1;
}