.screen{
    width: calc(100% - 240px);
}

.lista{
    padding: 100px;

    h1{
        text-transform: uppercase;
        
        font-size: 25px;
        color: #FF7527;
        margin-left: 25px;
        margin-bottom: 50px;
    }

    ul{
        margin-top: 20px;
    }

    li{
        display: flex;
        margin: 30px;
    }


}

.buttonInit{
    margin-left: 60px;
}

.buttonMid{
    margin-left: 85px;
}

.buttonEnd{
    margin-left: 50px;
}