.content {
  width: 200px;
  height: 112px;
  margin: auto;
  background: #FFF;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentText {
  text-align: center;
}

.contentText h1 {
  background: #FFF;
  font-family: "MuseoModerno";
  font-weight: 800;
  font-size: 80px;
  line-height: 20px;
  text-shadow: 0px 1.4902px 1.4902px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
}
.contentText p {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  background: #FFF;
  padding-top: 10px;
}
