.container{
    width: 270px;
    height: 380px;
    
    margin-left: 250px;
    position: relative;
    
    
}

.img{
    width: 150px;
    height: 150px;
    margin: auto;
    position: absolute;
    left: 55px;
    border-radius: 50%;
    background: url('../../../public/hamburguer.svg') no-repeat center;
    background-size: cover;
    
}

.content{
    width: 270px;
    height: 300px;
    margin: auto;
    background: #FEFEFE;
    border-radius: 30px;
    
    
}

.contentText{
    position: relative;
    top: 100px;
    font-weight: bold;
    text-align: center;
    
}

.contentText h1 {
    background: #FEFEFE

}
.contentText p {
    background: #FEFEFE
}

.iconsArea{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    width: 220;
    position: relative;
    top: 170px;
    background: #FEFEFE;
    
}

.icons{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid;
}
