.container{
    background: #fefefe ;
    padding: 15px;
}

.table{
    border-collapse: collapse;
    width: 100%;
    
    

    thead{
        text-align: center;
    }

    th{
        border: 1px solid;
    }

    
    h1{
        background: #2C3841;
        color: #fff;
        border: 1px solid;
       
    }

    td{
        text-align: center;
        border: 1px solid;
        
    }

}