@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');

.logo{
    height: 80px;
    width: 180px;
    margin: 25px auto;
    background: url(../public/logo.png) no-repeat center center;
    background-size: cover;   
}

.formWrapper {
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 360px;
}

.inputContainer {
    font-family: 'MuseoModerno', cursive; 
    margin: auto;
    width: 100%;
    padding: 15px;
}

.input{
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    background: #FEFEFE;
    font-family: 'MuseoModerno', cursive; 
    border: none;
    outline: none;
}

.button{
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #FF7527;
    color: #FFF;
    font-family: 'MuseoModerno', cursive;
    font-size: 18px;
    text-align: center;
}

.text{
    display: block;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    color: #222222;
    font-family: 'MuseoModerno', cursive; 
}

.text:hover{
    text-decoration: underline;
}

.textArea{
    margin-top: 15px;
    color: rgba(255, 255, 255, .7);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 0.9rem;
}

.textArea a:hover {
    text-decoration: underline;
}

@media (max-width: 800px){

    .formWrapper {
        
    }

    .inputContainer{
        width: 100%;
    }
}

@media (max-width: 400px){
    .inputContainer{
        width: 100%;
    }
    .text{
        font-size: 13px;
    }
}

